/*
canvasTest.jsp
*/

/* ±¸±Û À¥ÆùÆ® Àû¿ë
³ª´®º×±Û¾¾ font-family: 'Nanum Brush Script', cursive;
³ª´®°íµñ font-family:'Nanum Gothic',monospace;
³ª´®°íµñÄÚµù font-family:'Nanum Gothic Coding',monospace;
³ª´®¸íÁ¶ font-family: 'Nanum Myeongjo', serif;
³ª´®Ææ±Û¾¾ font-family: 'Nanum Pen Script', cursive;
ÇÑ³ªÃ¼ font-family:'Hanna',serif;
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

html, body, ul, li, input {
	margin:0px;
	padding:0px;
	font-family:'Nanum Gothic',monospace;
	font-size:14px;
	line-height:14px;
}
.center {
	max-width:1300px;
	height:100%;
	margin:0px auto;
}
.top-menu, .drow-wrap {
	float:left;
}
.simul-wrap, .result-wrap01, .result-wrap02 {
	float:right;
	width:298px;
}
.top-menu ul, .top-menu li {
	float:right;
	list-style:none;
	color:#fff;
}
.top-menu ul {
	height:62px;
	border-bottom:2px solid #444;
	width:1300px;
	background:#444;
}
.top-menu li {
	padding:20px 10px;
	border-left:1px solid #666;
}
.top-menu li:first-child {
	padding:10px 20px;
}
.top-menu li:first-child {
	border-left:0;
}
.top-menu li input[type="file"] {
	height:20px;
}
.figure-pic input {
	margin-right:5px;
}
.figure-pic label {
	cursor:pointer;
}
.figure-pic label:hover {
	text-decoration:underline;
}
.figure-pic label span {
	position:relative;
	top:-4px;
}
.color-pic>div {
	height:20px;
	position:relative;
	top:4px;
}
.color-pic>div>div {
	background:#fff;
	margin-left:5px;
	top:-5px;
}
.drow-wrap {
	width:1000px;
	/*height:100%;*/
	max-height:910px;
	overflow: scroll; border: 1px solid #ccc;
}
.simul-wrap {
	background:#de8319;
	color:#fff;
	padding:5px 0;
}
.simul-wrap input, #totAvailability {
	border:1px solid #de8319;
	width:84%;
	text-align:right;
	padding:5px;
	margin:2px 0;
}
#totAvailability {
	background:#fff;
	height:16px;
	color:black;
}
.simul-wrap table th {
	font-weight:normal;
	padding:5px 10px;
	width:138px;
	text-align:left;
}
#runSimulationBtn {
	margin:8px 15px;
	padding:6px;
	width:248px;
	background:#bc5513;
	color:#fff;
	border:0;
	cursor:pointer;
}
.totAvailability th, .totAvailability td {
	padding-top:6px;
	border-top:1px solid #f4af5f;
}
.result-wrap01, .result-wrap02 {
	width:296px;
	border:1px solid #ccc;
}
.result-wrap01 table, .result-wrap02 table {
	width:296px;
	table-layout:pixed;
	position:relative;
}
.result-wrap01 tr, .result-wrap02 tr {
	width:296px;
	display:table;
}
.result-wrap01 tbody, .result-wrap02 tbody {
	width:296px;
	display:block;
	overflow-y:auto;
	overflow-x:hidden;
	max-height:296px;	
}
.result-wrap01 tbody tr, .result-wrap02 tbody tr {
	width:279px;
}
.result-wrap01 th, .result-wrap02 th {
	background:#ede6c2;
	color:#89724d;
	padding:10px;
	border-right:1px solid #d0c58c;
	border-bottom:1px solid #d0c58c;
}
.result-wrap01 th:last-child, .result-wrap02 th {
	border-right:0;
}
.result-wrap01 td {
	font-size:12px;
	line-height:15px;
	padding:5px 5px;
	border-bottom:1px solid #ccc;
	width:256px;
	word-break:break-all;
}
.result-wrap01 tr:last-child td {
	border-bottom:0;
}
.result-wrap01 th.check-form {
	padding:10px 2px;
	width:14px !important;
}
.result-wrap01 td.check-form {
	padding:4px 2px;
	width:15px !important;
	text-align:center;
	border-right:1px solid #ccc;
	vertical-align:middle;
}
.result-wrap02 td, .result-wrap02 th.sec {
	font-size:12px;
	line-height:15px;
	padding:5px 5px;
	border-bottom:1px solid #ccc;
	word-break:break-all;
}
.rectnumber p {
	margin:5px 0 0 0;
	padding-left:22px;
	position:relative;
}
.rectnumber p:before {
	content:'[+]';
	position:absolute;
	top:0;
	left:0;
	padding:0px 2px;
	line-height:14px;
	overflow:hidden;
	color:#000;
	font-weight:bold;
}